/* start contact section styles */

.contact-wrapper {
  background-color: rgb(1, 1, 126);
  height: 40px;
}

.contact-wrapper .contact {
  font-size: 15px;
}

.contact-wrapper .contact i {
  vertical-align: -9px;
}

.contact-wrapper .contact span {
  color: #fff;
  margin: 0 5px;
}

/*end contact section styles */

/* start social-media styles */

.contact-wrapper .social-media {
  direction: ltr;
}

.contact-wrapper .social-media i {
  vertical-align: -9px;
  margin-right: 5px;
  font-size: 20px;
  color: white;
  width: 40px;
  padding: 10px;
  transition: background-color 0.25s linear;
}

.contact-wrapper .social-media i:hover {
  background-color: orange;
}

/* end social-media styles */

/* start media queries custom */

@media only screen and (max-width: 845px) {
  .mq-hd-845 {
    display: none;
  }
}

@media only screen and (max-width: 447px) {
  .mq-hd-447 {
    display: none;
  }
}

/* end media queries custom */
