/* start course section */
.course-title {
    padding: 10px;
}

.course-title p {
    color: #adadad;
    font-size: 13px;
}

.card {
    box-shadow: 1px 1px 1px 1px #efefef;
    cursor: pointer;
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.card:hover .card-overlay{
    opacity: 1;
}
/* end course section */

/* start media queries custom */
/* end media queries custom */
