/* start header style */

.img-header {
  height: 90vh;
}

.overlay {
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-title {
  margin: 35vh 20vw;
  max-width: 500px;
}

.header-title a {
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: -120px;
  float: left;
}

/* end header style */

/* start media queries custom */

@media only screen and (max-width: 1300px) {
  .header-title {
    width: 100%;
    margin: 0;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header-title a {
    margin-left: 0;
  }

  .overlay,
  .img-header {
    min-height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .header-title h1 {
    font-size: 25px;
  }

  .header-title h3 {
    font-size: 15px;
  }

  .header-title a {
    font-size: 14px;
    margin-left: 0;
  }

  .img-header,.overlay {
    min-height: auto;
  }
}

/* end media queries custom */
