/* start navbar section styles */

@media only screen and (max-width: 670px) {
  .nav a:not(:first-child) {
    display: none;
  }

  .nav a.icon {
    display: block;
    float: left;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.nav.responsive a.icon {
    position: absolute;
    top: 0;
    left: 15px;
  }

  .nav.nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

.nav {
  width: 100%;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px #efefef;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav a {
  float: right;
  color: rgb(46, 46, 46);
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  border-bottom: 1px solid white;
}

.nav a:hover {
  border-bottom: 2px solid red;
}

.icon {
  display: none;
}

.active {
  border-bottom: 2px solid red!important;
}

/* end navbar section styles */
